$white: #fff;

$border-color: #797f86;
$slashes-color: #e9eaec;
$light-gray: #d3d3d3;
$dark-gray: #868e96;

$success: #008000;
$danger: #cc0000;

$light-theme: (
  color: #54595f,
  background-color: #f5f4f2,
);

$dark-theme: (
  color: #fff,
  background-color: #292d3c,
);
