@use "src/assets/styles/utils/variables";

.CompanyTable--dark {
  width: 100%;
}
.CompanyTable--light {
  width: 100%;
}

.TableHeader {
  padding: 6px 4px 0 4px;
  background-color: #d3d3d3;
  color: map-get(variables.$light-theme, "color");

  &__row {
    display: flex;
    align-items: center;

    &--border {
      border: 1.5px solid variables.$border-color;
    }
  }

  &__cell {
    padding: 10px 0;
    height: 40px;
  }
}
