@use "src/assets/styles/utils/variables";

.TableHeader {
  padding: 6px 4px 0 4px;
  background-color: variables.$light-gray;
  color: map-get(variables.$light-theme, "color");

  &__row {
    display: flex;
    align-items: center;

    &--border {
      border: 1.5px solid variables.$border-color;
    }
  }

  &__cell {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
