.CompanyTable--dark {
  width: 100%;
  /* border-collapse: collapse; */
}
.CompanyTable--light {
  width: 100%;
  /* border-collapse: collapse; */
}

.CompanyTable__header {
  background-color: lightgray;
}

.CompanyTable__row {
  display: flex;
}

.CompanyTable__cell {
  padding: 4px;
  border: 1px solid RGB(121, 127, 134);
}

.CompanyTable__scroll {
  height: 113px;
  overflow: auto;
}
