.App {
  text-align: center;
  margin: 20px;
}

.App__header {
  text-align: center;
  margin: 0 0 20px;
}

.App__table-navigation {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  padding: 20px 0;
  margin: 20px 0;
}
